.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .number{
  position: relative;
  top: -37px;
  font-size: 12px;
  width: 25px;
  text-align: center;
}
.App {

}
.searchBar {
  border-radius: 25px;
}
.searchBarForm {
  padding: 2%;
  height: 100%;
}
.Plots {
  min-height: 400px;
}
.generalInfo {

  margin-left: 25%;
}
.map {
  margin-left: 10%;
  margin-right: 10%;
}
.footer{
  margin-bottom: 10%;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.forms {
  width: 86%;

}
.forms-mobile{
  width: 100%;
}
.form-mobile {
  margin-right: 5%;
  margin-bottom: 10px;
}
.buttons {
  width: 20%;
}
.buttons-mobile {
  margin-bottom: 10px;
}
.input-form {
  width: 35px;
}
.footer{
  margin-bottom: 0%;
}
.ButtonSearch{
}
.search-logo{
  width: 23%;
  height: 23%;
}
.car-logo{
  margin-top: 10%;
  height: auto;
  max-width: 100%;
}
.plus-logo{
  width: 15%;
  height: 15%;
}
.form-field {
  max-width: 160px;
}
.date-picker{
  border-radius: 5px;
  border: 2px solid #f8f9fa!important;
  background-color: #f8f9fa!important;
  margin-right: 10px;
}
.react-daterange-picker__wrapper{
  border: #f8f9fa!important;
  background-color: #f8f9fa!important;
}
.react-date-picker__wrapper {
  border: #f8f9fa!important;
  background-color: #f8f9fa!important;
}
.button{
}