.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .number{
  position: relative;
  top: -37px;
  font-size: 12px;
  width: 25px;
  text-align: center;
}
.App {

}
.searchBar {
  border-radius: 25px;
}
.searchBarForm {
  padding: 2%;
  height: 100%;
}
.plots {

}
.generalInfo {

  margin-left: 25%;
}
.map {
  margin-left: 10%;
  margin-right: 10%;
}
.footer{
  margin-bottom: 10%;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.forms {
  width: 75%;

}
.buttons {
  width: 25%;
}